<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="TechSupportConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\TechSupport.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient"/>

    <add name="LocalDbProviderConnectionString"
         connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=&#xD;&#xA;         |DataDirectory|\ASPNETDB.mdf;Integrated Security=True"

         providerName="System.Data.SqlClient"/>

  </connectionStrings>


  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>

  <system.web>
    <authentication mode="Forms" />
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>

    <roleManager enabled="true" defaultProvider="AspNetSqlLocalDbProvider">
      <providers>
        <clear />
        <add connectionStringName="LocalDbProviderConnectionString" name="AspNetSqlLocalDbProvider"
          type="System.Web.Security.SqlRoleProvider" />
      </providers>
    </roleManager>

   
    <membership defaultProvider="AspNetSqlLocalDbProvider">
      <providers>
        <clear/>
        <add name="AspNetSqlLocalDbProvider"
             connectionStringName="LocalDbProviderConnectionString"
             type="System.Web.Security.SqlMembershipProvider" />
      </providers>
    </membership>


  </system.web>
</configuration>